@model IEnumerable<QAWebsite.Models.QuestionViewModels.IndexViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container searchpad">
    <div class="row text-center">
        <h1 class="homeTitle">QAWebsite</h1>
        <br><br>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="homeHeading">Happening Now</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td width="75%">
                            <a asp-controller="Question" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
@*    <div class="col-md-3">
        <h2>Top Contributors</h2>
        <ol>
            <li>CONTRIBUTOR</li>
            <li>CONTRIBUTOR</li>
            <li>CONTRIBUTOR</li>
        </ol>
        <h2>Highest Rated Questions</h2>
        <ol>
            <li>QUESTION</li>
            <li>QUESTION</li>
            <li>QUESTION</li>
        </ol>
    </div>*@
</div>
