@model QAWebsite.Models.MultipleViewModels.QuestionTagsViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.QuestionModel.FirstOrDefault().Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.QuestionModel.FirstOrDefault().Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionModel.FirstOrDefault().Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.QuestionModel.FirstOrDefault().Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.TagsModel.FirstOrDefault().Tags)
        </dt>
        <dd>
            @foreach (var tag in Model.TagsModel)
             {
                 @if (@Model.QuestionModel.FirstOrDefault().Id == tag.QuestionId)
                  {
                    @Html.DisplayFor(model => tag.Tags)

                  }
             }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionModel.FirstOrDefault().CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.QuestionModel.FirstOrDefault().CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionModel.FirstOrDefault().EditDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.QuestionModel.FirstOrDefault().EditDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.QuestionModel.FirstOrDefault().Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
