@model QAWebsite.Models.MultipleViewModels.QuestionTagsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.QuestionModel.FirstOrDefault().Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.QuestionModel.FirstOrDefault().Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.QuestionModel.FirstOrDefault().Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.QuestionModel.FirstOrDefault().Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.TagsModel.FirstOrDefault().Tags)
        </dt>
        <dd>
            @foreach (var tag in Model.TagsModel)
            {
                 @if (@Model.QuestionModel.FirstOrDefault().Id == tag.QuestionId)
                 {
                    @Html.DisplayFor(model => tag.Tags)

                 }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.QuestionModel.FirstOrDefault().CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.QuestionModel.FirstOrDefault().CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.QuestionModel.FirstOrDefault().EditDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.QuestionModel.FirstOrDefault().EditDate)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && @Model.QuestionModel.FirstOrDefault().AuthorId == UserManager.GetUserId(User))
    {
        <a asp-action="Edit" asp-route-id="@Model.QuestionModel.FirstOrDefault().Id">Edit</a> @Html.Raw("|")
        <a asp-action="Delete" asp-route-id="@Model.QuestionModel.FirstOrDefault().Id">Delete</a> @Html.Raw("|")
    }
    <a asp-action="Index">Back to List</a>
</div>
