@model QAWebsite.Models.QuestionViewModels.QuestionViewModel

@{
    ViewData["Title"] = "Question Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionTags)
        </dt>
        <dd>
            @string.Join(", ", Model.QuestionTags.Select(x => x.Tag.Name))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Upvote", "RateQuestion", "Rating", new { questionId = Model.QuestionId, rateValue = Ratings.Upvote })
    @Html.Raw("|")
    @Html.ActionLink("Downvote", "RateQuestion", "Rating", new { questionId = Model.QuestionId, rateValue = Ratings.Downvote })
</div>
<br/>
<div>
    @if (User.Identity.IsAuthenticated && Model.AuthorId == UserManager.GetUserId(User))
    {
        <a asp-action="Edit" asp-route-id="@Model.QuestionId">Edit</a> @Html.Raw("|")
        <a asp-action="Delete" asp-route-id="@Model.QuestionId">Delete</a> @Html.Raw("|")
        <a asp-action="Create" asp-controller="Flags" asp-route-id="@Model.QuestionId">Flag</a>
    }
    @Html.Raw("|")
    <a asp-action="Index">Back to List</a>
</div>
