@using QAWebsite.Models.Enums
@model QAWebsite.Models.QuestionViewModels.DetailsViewModel
@using QAWebsite.Models.Enums;
@{
    ViewData["Title"] = "Question Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionTags)
        </dt>
        <dd>
            @string.Join(", ", Model.QuestionTags.Select(x => x.Tag.Name))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Upvote", "RateQuestion", "Rating", new { questionId = Model.Id, rateValue = Ratings.Upvote })
    @Html.Raw("|")
    @Html.ActionLink("Downvote", "RateQuestion", "Rating", new { questionId = Model.Id, rateValue = Ratings.Downvote })
</div>
<br />
<div>
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.AuthorId == UserManager.GetUserId(User))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> @Html.Raw("|")
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> @Html.Raw("|")
        }
        else
        {
            <a asp-action="Create" asp-controller="Flags" asp-route-id="@Model.Id">Flag</a> @Html.Raw("|")
        }
    }
    <a asp-action="EditHistory" asp-route-id="@Model.Id">Edits History</a> @Html.Raw("|")
    <a asp-action="Index">Back to List</a>
</div>

<hr />
<br />


@foreach (var comment in Model.Comments)
{
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => comment.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => comment.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => comment.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => comment.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => comment.AuthorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => comment.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => comment.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => comment.CreationDate)
        </dd>
    </dl>
}

@if (User.Identity.IsAuthenticated)
{
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Comment" asp-action="Create">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" value="@Model.Id" , name="parentId" />
            <input type="hidden" value="@CommentTypes.Question" , name="type" />
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
}
<br />

<div>
    <h4> @Html.DisplayFor(model => model.Answers.Count) Answers</h4>
    <hr />
    @foreach (var answer in Model.Answers)
    {
        <dl class="dl-horizontal">
            <dt>
                @if (answer.AuthorId == UserManager.GetUserId(User))
                {
                    <text>Your Answer </text>
                }
                else
                {
                    @Html.DisplayNameFor(modelItem => answer.Content)
                }
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => answer.Content)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => answer.CreationDate)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => answer.CreationDate)
            </dd>
            @if (answer.CreationDate != answer.EditDate)
            {
                <dt>
                    @Html.DisplayNameFor(modelItem => answer.EditDate)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => answer.EditDate)
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(modelItem => answer.Author)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => answer.Author)
            </dd>
            <dd>
                @if (User.Identity.IsAuthenticated && answer.AuthorId == UserManager.GetUserId(User))
                {
                    <a asp-action="Edit" asp-controller="Answer" asp-route-id="@answer.Id">Edit</a>
                }
                @if (User.Identity.IsAuthenticated && Model.AuthorId == UserManager.GetUserId(User))
                {
                    if (Model.BestAnswerId != answer.Id)
                    {
                        <a asp-action="SetBestAnswer" asp-controller="Question" asp-route-id="@answer.QuestionId" asp-route-answerId="@answer.Id" asp-route-best="@answer.Id">Best Answer</a>
                    }
                    else
                    {
                        <b>BEST ANSWER </b>
                        <a asp-action="SetBestAnswer" asp-controller="Question" asp-route-id="@answer.QuestionId" asp-route-answerId="@answer.Id" asp-route-best="@null">Remove Best Answer</a>
                    }
                }
            </dd>
        </dl>
        <hr />

        @foreach (var aComment in answer.Comments)
        {
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => aComment.Content)
                </dt>
                <dd>
                    @Html.DisplayFor(model => aComment.Content)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => aComment.CreationDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => aComment.CreationDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => aComment.AuthorName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => aComment.AuthorName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(modelItem => aComment.CreationDate)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => aComment.CreationDate)
                </dd>
            </dl>
        }

        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-md-6">
                    <form asp-controller="Comment" asp-action="Create">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" value="@answer.Id" , name="parentId" />
                        <input type="hidden" value="@CommentTypes.Answer" , name="type" />
                        <div class="form-group">
                            <label asp-for="Comment" class="control-label"></label>
                            <textarea asp-for="Comment" rows="2" class="form-control"></textarea>
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
            <hr />
        }
    }
</div>

@if (User.Identity.IsAuthenticated && !(Model.Answers.Any(a => a.AuthorId == @UserManager.GetUserId(User))))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Answer" asp-action="Create">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="AnswerContent" class="control-label"></label>
                    <textarea asp-for="AnswerContent" rows="5" class="form-control"></textarea>
                    <span asp-validation-for="AnswerContent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}
