@model QAWebsite.Models.QuestionViewModels.QuestionEditDetailViewModel

@{
    ViewData["Title"] = "EditDetails";
}

<h2>EditDetails</h2>

<div>
    <h4>QuestionEdits</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>
        <dd>
            <a asp-action="Profile" asp-controller="Profile" asp-route-id="@Model.EditorId">@Html.DisplayFor(modelItem => Model.EditedBy)</a>
        </dd>
        
        @if (Model.InitialTitle != null)
        {
                    <dt>
                        @Html.DisplayNameFor(model => model.InitialTitle)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.InitialTitle)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NewTitle)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NewTitle)
                    </dd>
        }
          
        @if (Model.InitialContent != null)
        {
                <dt>
                    @Html.DisplayNameFor(model => model.InitialContent)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InitialContent)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NewContent)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NewContent)
                </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>
    </dl>
</div>