@model IEnumerable<QAWebsite.Models.QuestionViewModels.IndexViewModel>
@using QAWebsite.Models.Enums;

@{
    ViewData["Title"] = "Question List";
}

<h2>Question List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionTags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                Answers
            </th>
            @if (User.Identity.IsAuthenticated && User.IsInRole(@Roles.ADMINISTRATOR.ToString()))
            {
                <th>
                    @Html.DisplayNameFor(model => model.FlagCount)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @foreach (var qt in item.QuestionTags)
                    {
                        <q-tag name="@qt.Tag.Name" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    <a asp-action="Profile" asp-controller="Profile" asp-route-name="@item.AuthorName">@Html.DisplayFor(modelItem => item.AuthorName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.AnswerCount)
                </td>
                @if (User.Identity.IsAuthenticated && User.IsInRole(@Roles.ADMINISTRATOR.ToString()))
                {
                     <td>
                         @if (item.FlagCount > 0)
                         {
                             <a asp-action="FlagsByQuestion" asp-controller="Flags" asp-route-id="@item.Id">@item.FlagCount</a>
                         }
                         else
                         {
                                <p>0</p>
                         }
                    </td>
                }
                @if (User.Identity.IsAuthenticated && item.AuthorId == UserManager.GetUserId(User) || User.IsInRole(@Roles.ADMINISTRATOR.ToString()))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @Html.Raw("|")
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
