@model QAWebsite.Models.AccountViewModels.ProfileViewModel
@using QAWebsite.Models.Enums

@{
    ViewData["Title"] = "Profile";
}
<h2><i>@Html.DisplayFor(model => model.Username)</i></h2>
<div id="suspendButtonContainer">
    @if (User.IsInRole(@Roles.ADMINISTRATOR.ToString()))
    {
        if (Model.isEnabled)
        {<a asp-action="Suspend" asp-controller="Account" asp-route-id="@Model.Id" class="btn btn-default">Suspend</a>}

        else
        {<a asp-action="Unsuspend" asp-controller="Account" asp-route-id="@Model.Id" class="btn btn-default">Unsuspend</a>}
    }
</div>

<div>
    <div id="profileLeftContainer" style="text-align:center;">
        <img src="@Model.UserImage" alt="Employee Photo" class="userImage" />
        <h4 class="text-center" style="width:100%"><b>@Html.DisplayFor(model => model.Rating) &nbsp;&nbsp;</b> Reputation</h4>
        <a asp-action="Achievements" asp-controller="Profile" asp-route-id="@Model.Id" class="btn btn-default">My Achievements</a>
    </div>
    <div id="profileRightContainer">
        <h3>@Html.DisplayNameFor(model => model.AboutMe)</h3>
        <div id="aboutMeContainer">
            <p>
                @Html.DisplayFor(model => model.AboutMe)
            </p>
        </div>
        <h3>Contact Information</h3>
        <div id="accountInfo">
            <p>
                @Html.DisplayNameFor(model => model.Email) :
                @Html.DisplayFor(model => model.Email)
            </p>
        </div>
        <h3>Recent Activity</h3>
        
        <div class="container-fluid container-background">	
            <ul class="nav nav-pills container-background-secondary">
                <li class="active">
                    <a href="#1a" data-toggle="tab">Recent Questions</a>
                </li>
                <li><a href="#2a" data-toggle="tab">Recent Answers</a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">
                    @if (Model.QuestionList.Count > 0)
                    {
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => Model.QuestionList[0].Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => Model.QuestionList[0].CreationDate)
                                </th>
                            </tr>
                            </thead>
                            @foreach (var question in Model.QuestionList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => question.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => question.CreationDate)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", "Question", new { id = question.Id })
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p class="text-center padding-top-bottom">No question activity available for this user</p>
                    }
                </div>
                <div class="tab-pane" id="2a">
                    @if (Model.AnswerList.Count > 0)
                    {
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => Model.AnswerList[0].Content)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => Model.AnswerList[0].CreationDate)
                                </th>
                            </tr>
                            </thead>
                            @foreach (var answer in Model.AnswerList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => answer.Content)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => answer.CreationDate)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Question Details", "Details", "Question", new { id = answer.QuestionId })
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p class="text-center padding-top-bottom">No answer activity available for this user</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>